    /*
    Flaticon icon font: Flaticon
    Creation date: 24/01/2019 08:46
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-3d-glasses:before { content: "\f100"; }
.flaticon-002-video-camera:before { content: "\f101"; }
.flaticon-003-binoculars:before { content: "\f102"; }
.flaticon-004-cinema:before { content: "\f103"; }
.flaticon-005-movie:before { content: "\f104"; }
.flaticon-006-movie-1:before { content: "\f105"; }
.flaticon-007-cinema-1:before { content: "\f106"; }
.flaticon-008-movie-2:before { content: "\f107"; }
.flaticon-009-film:before { content: "\f108"; }
.flaticon-010-clapperboard:before { content: "\f109"; }
.flaticon-011-cd:before { content: "\f10a"; }
.flaticon-012-controls:before { content: "\f10b"; }
.flaticon-013-clapperboard-1:before { content: "\f10c"; }
.flaticon-014-director-chair:before { content: "\f10d"; }
.flaticon-015-milkshake:before { content: "\f10e"; }
.flaticon-016-film-reel:before { content: "\f10f"; }
.flaticon-017-videocamera:before { content: "\f110"; }
.flaticon-018-film-1:before { content: "\f111"; }
.flaticon-019-film-reel-1:before { content: "\f112"; }
.flaticon-020-videocamera-1:before { content: "\f113"; }
.flaticon-021-film-2:before { content: "\f114"; }
.flaticon-022-location:before { content: "\f115"; }
.flaticon-023-video-player:before { content: "\f116"; }
.flaticon-024-megaphone:before { content: "\f117"; }
.flaticon-025-mobile:before { content: "\f118"; }
.flaticon-026-movie-3:before { content: "\f119"; }
.flaticon-027-movie-ticket:before { content: "\f11a"; }
.flaticon-028-notebook:before { content: "\f11b"; }
.flaticon-029-location-pin:before { content: "\f11c"; }
.flaticon-030-popcorn:before { content: "\f11d"; }
.flaticon-031-projector:before { content: "\f11e"; }
.flaticon-032-red-carpet:before { content: "\f11f"; }
.flaticon-033-film-reel-2:before { content: "\f120"; }
.flaticon-034-remote:before { content: "\f121"; }
.flaticon-035-reward:before { content: "\f122"; }
.flaticon-036-armchair:before { content: "\f123"; }
.flaticon-037-spotlight:before { content: "\f124"; }
.flaticon-038-smartphone:before { content: "\f125"; }
.flaticon-039-theatre:before { content: "\f126"; }
.flaticon-040-film-3:before { content: "\f127"; }
.flaticon-041-vhs:before { content: "\f128"; }
.flaticon-042-video-player-1:before { content: "\f129"; }
.flaticon-043-movie-4:before { content: "\f12a"; }
.flaticon-044-film-4:before { content: "\f12b"; }
    
    $font-Flaticon-001-3d-glasses: "\f100";
    $font-Flaticon-002-video-camera: "\f101";
    $font-Flaticon-003-binoculars: "\f102";
    $font-Flaticon-004-cinema: "\f103";
    $font-Flaticon-005-movie: "\f104";
    $font-Flaticon-006-movie-1: "\f105";
    $font-Flaticon-007-cinema-1: "\f106";
    $font-Flaticon-008-movie-2: "\f107";
    $font-Flaticon-009-film: "\f108";
    $font-Flaticon-010-clapperboard: "\f109";
    $font-Flaticon-011-cd: "\f10a";
    $font-Flaticon-012-controls: "\f10b";
    $font-Flaticon-013-clapperboard-1: "\f10c";
    $font-Flaticon-014-director-chair: "\f10d";
    $font-Flaticon-015-milkshake: "\f10e";
    $font-Flaticon-016-film-reel: "\f10f";
    $font-Flaticon-017-videocamera: "\f110";
    $font-Flaticon-018-film-1: "\f111";
    $font-Flaticon-019-film-reel-1: "\f112";
    $font-Flaticon-020-videocamera-1: "\f113";
    $font-Flaticon-021-film-2: "\f114";
    $font-Flaticon-022-location: "\f115";
    $font-Flaticon-023-video-player: "\f116";
    $font-Flaticon-024-megaphone: "\f117";
    $font-Flaticon-025-mobile: "\f118";
    $font-Flaticon-026-movie-3: "\f119";
    $font-Flaticon-027-movie-ticket: "\f11a";
    $font-Flaticon-028-notebook: "\f11b";
    $font-Flaticon-029-location-pin: "\f11c";
    $font-Flaticon-030-popcorn: "\f11d";
    $font-Flaticon-031-projector: "\f11e";
    $font-Flaticon-032-red-carpet: "\f11f";
    $font-Flaticon-033-film-reel-2: "\f120";
    $font-Flaticon-034-remote: "\f121";
    $font-Flaticon-035-reward: "\f122";
    $font-Flaticon-036-armchair: "\f123";
    $font-Flaticon-037-spotlight: "\f124";
    $font-Flaticon-038-smartphone: "\f125";
    $font-Flaticon-039-theatre: "\f126";
    $font-Flaticon-040-film-3: "\f127";
    $font-Flaticon-041-vhs: "\f128";
    $font-Flaticon-042-video-player-1: "\f129";
    $font-Flaticon-043-movie-4: "\f12a";
    $font-Flaticon-044-film-4: "\f12b";